<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/cpualgorithms.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CPU Process Scheduling Algorithms </h5>
      <li> Java</li>
      <p>CPU Process Scheduling Algorithms: FCFS; SJN; SRT; ROUND ROBIN; EDF; This program is stimulating those algorithms cycle by cycle. A Process Scheduler schedules different processes to be assigned to the CPU based on particular scheduling algorithms. There are six popular process scheduling algorithms which we are going to discuss in this chapter. First-Come, First-Served (FCFS) Scheduling Shortest-Job-Next (SJN) Scheduling Shortest Remaining Time(SRT) Round Robin(RR) Scheduling Earliest Deadline First(EDF).</p>
      <a class="project-link" href="https://github.com/ikamilov/CPU-Process-Scheduling-Algorithms">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/studylearnteach.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Study Learn Teach </h5>
      <ul>
        <li> HTML/CSS</li> 
        <li> JavaScript</li>
      </ul>
      <p>Our target audience is designed for students from elementary school, middle school, and high school as well as for adults who forget the basic subject topics. However, the material we are providing in our website “Children Education” is aimed not only for students but everyone who is interested in learning, reviewing, or using this information. In other words, every individual who can find our web content useful.</p>
      <a class="project-link" href="https://github.com/ikamilov/Study-Learn-Teach">Check it out</a>
    </div>
  </div>
</div>
